<?xml version="1.0"?>

<robot name="tyrion" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="pi" value="3.1415926535897931" />

  <!-- Main quadrotor link -->
  <xacro:macro name="tyrion">
    <link name="base_link">
      <inertial>
        <mass value="1.477" />
        <origin xyz="0 0 0" />
        <inertia ixx="0.01152" ixy="0.0" ixz="0.0" iyy="0.01152" iyz="0.0" izz="0.0218" />
      </inertial>

      <visual>
        <origin xyz="0 0 -0.2" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://rotors_description/meshes/tyrion_light.dae" scale="0.01 0.01 0.01"/>
        </geometry>
      </visual>

      <collision>
        <origin xyz="0 0 -0.2" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://rotors_description/meshes/tyrion_light.dae" scale="0.01 0.01 0.01"/>
        </geometry>
      </collision>
    </link>
  </xacro:macro>
</robot>
