<robot name="tyrion" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="$(find rotors_description)/urdf/tyrion_ouster.urdf.xacro" />
    <xacro:include filename="$(find velodyne_description)/urdf/OS0-32.urdf.xacro"/>
     <xacro:OS0-32 parent="base_link" name="OS0-32" topic_points="/ouster/points" hz="10">
     <origin xyz="0 0 0.15" rpy="0 0 0" />
     <!-- <origin xyz="0 0.035 0.1" rpy="1.57 0 0" /> -->
    </xacro:OS0-32>
</robot>